# Brainstorm Questions
* What are the characteristics of Hall of Famers?
* What are the characteristics of players with the highest salaries? Did these characteristics change with the advent of Moneyball/Sabermetrics?
* How do high salary vs HoF differ?
* Did people play more positions in the past?

## Salary 
* Players with high salaries are usually on multi-year contracts.
* For a given year, a player's current salary is dictated by past performance prior to signing that contract. 
* Let Year_Start the starting season for a player's contract, Year_End the ending season for a player's contract. Stats accumulated during [Year_Start, Year_End] do not have an effect on their current salary.
* A player may be more motivated to play well closer to Year_End.
* If looking for features that correlate with salary, best to look at data for years prior to that contract signing.

## Hall of Fame 
* I guess that the Hall of Fame will reward players with high-performance over a long period of time.
* The Hall of Fame currently describes baseball as having four eras:
  * Today's Game (1988–present)
  * Modern Baseball (1970–1987)
  * Golden Days (1950–1969)
  * Early Baseball (1871–1949)
* The characteristics for being a Hall of Famer may differ between these eras.
* Some players will have careers that span different eras.

### Who are all the Hall of Fame Players?
There is a table called HallOfFame. Join that with Master to get the names

In [23]:
import pandas as pd
import numpy as np

hof_df = pd.read_csv('baseballdatabank-master/core/HallOfFame.csv')
master_df = pd.read_csv('baseballdatabank-master/core/Master.csv')

hof_cols = list(hof_df.columns)
hof_cols.extend(['nameLast', 'nameFirst'])

hof_df = hof_df.merge(master_df, on='playerID')
hof_df = hof_df[hof_cols]

hof_df.head()

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note,nameLast,nameFirst
0,cobbty01,1936,BBWAA,226.0,170.0,222.0,Y,Player,NaN,Cobb,Ty
1,ruthba01,1936,BBWAA,226.0,170.0,215.0,Y,Player,NaN,Ruth,Babe
2,wagneho01,1936,BBWAA,226.0,170.0,215.0,Y,Player,NaN,Wagner,Honus
3,wagneho01,1936,Veterans,78.0,59.0,5.0,N,Player,NaN,Wagner,Honus
4,mathech01,1936,BBWAA,226.0,170.0,205.0,Y,Player,NaN,Mathewson,Christy

In [24]:
# The data spans from 1936 to 2016 for year of induction.
inducted 
hof_df.loc[hof_df.inducted == 'Y']

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note,nameLast,nameFirst
0,cobbty01,1936,BBWAA,226.0,170.0,222.0,Y,Player,NaN,Cobb,Ty
1,ruthba01,1936,BBWAA,226.0,170.0,215.0,Y,Player,NaN,Ruth,Babe
2,wagneho01,1936,BBWAA,226.0,170.0,215.0,Y,Player,NaN,Wagner,Honus
4,mathech01,1936,BBWAA,226.0,170.0,205.0,Y,Player,NaN,Mathewson,Christy
5,johnswa01,1936,BBWAA,226.0,170.0,189.0,Y,Player,NaN,Johnson,Walter
8,lajoina01,1937,BBWAA,201.0,151.0,168.0,Y,Player,NaN,Lajoie,Nap
10,speaktr01,1937,BBWAA,201.0,151.0,165.0,Y,Player,NaN,Speaker,Tris
13,youngcy01,1937,BBWAA,201.0,151.0,153.0,Y,Player,NaN,Young,Cy
18,hornsro01,1942,BBWAA,233.0,175.0,182.0,Y,Player,NaN,Hornsby,Rogers
25,cochrmi01,1947,BBWAA,161.0,121.0,128.0,Y,Player,NaN,Cochrane,Mickey
29,sislege01,1939,BBWAA,274.0,206.0,235.0,Y,Player,NaN,Sisler,George
33,collied01,1939,BBWAA,274.0,206.0,213.0,Y,Player,NaN,Collins,Eddie
41,colliji01,1945,Old Timers,NaN,NaN,NaN,Y,Player,NaN,Collins,Jimmy
44,alexape01,1938,BBWAA,262.0,197.0,212.0,Y,Player,NaN,Alexander,Pete
46,gehrilo01,1939,Special Election,NaN,NaN,NaN,Y,Player,NaN,Gehrig,Lou
53,bresnro01,1945,Old Timers,NaN,NaN,NaN,Y,Player,NaN,Bresnahan,Roger
58,keelewi01,1939,BBWAA,274.0,206.0,207.0,Y,Player,NaN,Keeler,Willie
60,ansonca01,1939,Old Timers,NaN,NaN,NaN,Y,Player,NaN,Anson,Cap
63,ewingbu01,1939,Old Timers,NaN,NaN,NaN,Y,Player,NaN,Ewing,Buck
72,wadderu01,1946,Old Timers,NaN,NaN,NaN,Y,Player,NaN,Waddell,Rube
80,delahed01,1945,Old Timers,NaN,NaN,NaN,Y,Player,NaN,Delahanty,Ed
88,foxxji01,1951,BBWAA,226.0,170.0,179.0,Y,Player,NaN,Foxx,Jimmie
97,walshed01,1946,Old Timers,NaN,NaN,NaN,Y,Player,NaN,Walsh,Ed
101,mcgrajo01,1937,Veterans,NaN,NaN,NaN,Y,Manager,NaN,McGraw,John
103,radboch01,1939,Old Timers,NaN,NaN,NaN,Y,Player,NaN,Radbourn,Old Hoss
112,traynpi01,1948,BBWAA,121.0,91.0,93.0,Y,Player,NaN,Traynor,Pie
114,kellyki01,1945,Old Timers,NaN,NaN,NaN,Y,Player,NaN,Kelly,King
127,friscfr01,1947,BBWAA,161.0,121.0,136.0,Y,Player,NaN,Frisch,Frankie
132,grovele01,1947,BBWAA,161.0,121.0,123.0,Y,Player,NaN,Grove,Lefty
140,jennihu01,1945,Old Timers,NaN,NaN,NaN,Y,Player,NaN,Jennings,Hughie
...,...,...,...,...,...,...,...,...,...,...,...
3871,taylobe99,2006,Negro League,NaN,NaN,NaN,Y,Player,NaN,Taylor,Ben
3872,torricr99,2006,Negro League,NaN,NaN,NaN,Y,Player,NaN,Torriente,Cristobal
3873,whiteso99,2006,Negro League,NaN,NaN,NaN,Y,Pioneer/Executive,NaN,White,Sol
3874,wilkijl99,2006,Negro League,NaN,NaN,NaN,Y,Pioneer/Executive,NaN,Wilkinson,J. L.
3875,wilsoju99,2006,Negro League,NaN,NaN,NaN,Y,Player,NaN,Wilson,Jud
3876,ripkeca01,2007,BBWAA,545.0,409.0,537.0,Y,Player,NaN,Ripken,Cal
3877,gwynnto01,2007,BBWAA,545.0,409.0,532.0,Y,Player,NaN,Gwynn,Tony
3924,dreyfba99,2008,Veterans,NaN,NaN,NaN,Y,Pioneer/Executive,NaN,Dreyfuss,Barney
3925,kuhnbo99,2008,Veterans,NaN,NaN,NaN,Y,Pioneer/Executive,NaN,Kuhn,Bowie
3926,omallwa99,2008,Veterans,NaN,NaN,NaN,Y,Pioneer/Executive,NaN,O'Malley,Walter
3927,willidi02,2008,Veterans,NaN,NaN,NaN,Y,Manager,NaN,Williams,Dick
3928,henderi01,2009,BBWAA,539.0,405.0,511.0,Y,Player,NaN,Henderson,Rickey
3939,alomaro01,2011,BBWAA,581.0,436.0,523.0,Y,Player,NaN,Alomar,Roberto
3942,larkiba01,2012,BBWAA,573.0,430.0,495.0,Y,Player,NaN,Larkin,Barry
3968,herzowh01,2010,Veterans,NaN,NaN,NaN,Y,Manager,NaN,Herzog,Whitey
3969,harvedo99,2010,Veterans,NaN,NaN,NaN,Y,Umpire,NaN,Harvey,Doug
4003,gillipa99,2011,Veterans,NaN,NaN,NaN,Y,Pioneer/Executive,NaN,Gillick,Pat
4020,biggicr01,2015,BBWAA,549.0,412.0,454.0,Y,Player,NaN,Biggio,Craig
4024,piazzmi01,2016,BBWAA,440.0,330.0,365.0,Y,Player,NaN,Piazza,Mike
4059,ruperja99,2013,Veterans,NaN,NaN,NaN,Y,Pioneer/Executive,NaN,Ruppert,Jacob
4060,odayha01,2013,Veterans,NaN,NaN,NaN,Y,Umpire,NaN,O'Day,Hank
4061,coxbo01,2014,Veterans,NaN,NaN,NaN,Y,Manager,NaN,Cox,Bobby
4062,larusto01,2014,Veterans,NaN,NaN,NaN,Y,Manager,NaN,LaRussa,Tony
4063,maddugr01,2014,BBWAA,571.0,429.0,555.0,Y,Player,NaN,Maddux,Greg
4064,glavito02,2014,BBWAA,571.0,429.0,525.0,Y,Player,NaN,Glavine,Tom
4065,thomafr04,2014,BBWAA,571.0,429.0,478.0,Y,Player,NaN,Thomas,Frank
4085,johnsra05,2015,BBWAA,549.0,412.0,534.0,Y,Player,NaN,Johnson,Randy
4086,martipe02,2015,BBWAA,549.0,412.0,500.0,Y,Player,NaN,Martinez,Pedro
4087,smoltjo01,2015,BBWAA,549.0,412.0,455.0,Y,Player,NaN,Smoltz,John
4104,griffke02,2016,BBWAA,440.0,330.0,437.0,Y,Player,NaN,Griffey,Ken

In [10]:
hof_df.votedBy.unique()

array(['BBWAA', 'Veterans', 'Centennial', 'Old Timers', 'Special Election',
       'Final Ballot', 'Nominating Vote', 'Run Off', 'Negro League'], dtype=object)

In [27]:
hof_df.groupby('votedBy').size()

votedBy
BBWAA               3688
Centennial             6
Final Ballot          21
Negro League          26
Nominating Vote       76
Old Timers            30
Run Off               81
Special Election       2
Veterans             189
dtype: int64

In [30]:
from IPython.display import display

for voted_by_type in hof_df.votedBy.unique():
    votes_for_type = hof_df.loc[hof_df.votedBy == voted_by_type]
    print(votes_for_type.shape)
    display(votes_for_type.head())

(3688, 11)

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note,nameLast,nameFirst
0,cobbty01,1936,BBWAA,226.0,170.0,222.0,Y,Player,NaN,Cobb,Ty
1,ruthba01,1936,BBWAA,226.0,170.0,215.0,Y,Player,NaN,Ruth,Babe
2,wagneho01,1936,BBWAA,226.0,170.0,215.0,Y,Player,NaN,Wagner,Honus
4,mathech01,1936,BBWAA,226.0,170.0,205.0,Y,Player,NaN,Mathewson,Christy
5,johnswa01,1936,BBWAA,226.0,170.0,189.0,Y,Player,NaN,Johnson,Walter

(189, 11)

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note,nameLast,nameFirst
3,wagneho01,1936,Veterans,78.0,59.0,5.0,N,Player,NaN,Wagner,Honus
7,lajoina01,1936,Veterans,78.0,59.0,2.0,N,Player,NaN,Lajoie,Nap
12,youngcy01,1936,Veterans,78.0,59.0,32.0,N,Player,NaN,Young,Cy
35,colliji01,1936,Veterans,78.0,59.0,8.0,N,Player,NaN,Collins,Jimmy
55,keelewi01,1936,Veterans,78.0,59.0,33.0,N,Player,NaN,Keeler,Willie

(76, 11)

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note,nameLast,nameFirst
23,cochrmi01,1946,Nominating Vote,202.0,NaN,80.0,N,Player,Top 20,Cochrane,Mickey
70,wadderu01,1946,Nominating Vote,202.0,NaN,122.0,N,Player,Top 20,Waddell,Rube
82,foxxji01,1946,Nominating Vote,202.0,NaN,26.0,N,Player,Top 20,Foxx,Jimmie
95,walshed01,1946,Nominating Vote,202.0,NaN,115.0,N,Player,Top 20,Walsh,Ed
109,traynpi01,1946,Nominating Vote,202.0,NaN,65.0,N,Player,Top 20,Traynor,Pie

(21, 11)

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note,nameLast,nameFirst
24,cochrmi01,1946,Final Ballot,263.0,198.0,65.0,N,Player,NaN,Cochrane,Mickey
71,wadderu01,1946,Final Ballot,263.0,198.0,87.0,N,Player,NaN,Waddell,Rube
96,walshed01,1946,Final Ballot,263.0,198.0,106.0,N,Player,NaN,Walsh,Ed
110,traynpi01,1946,Final Ballot,263.0,198.0,53.0,N,Player,NaN,Traynor,Pie
126,friscfr01,1946,Final Ballot,263.0,198.0,67.0,N,Player,NaN,Frisch,Frankie

(30, 11)

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note,nameLast,nameFirst
41,colliji01,1945,Old Timers,NaN,NaN,NaN,Y,Player,NaN,Collins,Jimmy
53,bresnro01,1945,Old Timers,NaN,NaN,NaN,Y,Player,NaN,Bresnahan,Roger
60,ansonca01,1939,Old Timers,NaN,NaN,NaN,Y,Player,NaN,Anson,Cap
63,ewingbu01,1939,Old Timers,NaN,NaN,NaN,Y,Player,NaN,Ewing,Buck
72,wadderu01,1946,Old Timers,NaN,NaN,NaN,Y,Player,NaN,Waddell,Rube

(2, 11)

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note,nameLast,nameFirst
46,gehrilo01,1939,Special Election,NaN,NaN,NaN,Y,Player,NaN,Gehrig,Lou
2706,clemero01,1973,Special Election,NaN,NaN,NaN,Y,Player,NaN,Clemente,Roberto

(81, 11)

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note,nameLast,nameFirst
85,foxxji01,1949,Run Off,187.0,NaN,89.0,N,Player,1st,Foxx,Jimmie
160,youngro01,1949,Run Off,187.0,NaN,11.0,N,Player,1st,Youngs,Ross
186,terrybi01,1949,Run Off,187.0,NaN,48.0,N,Player,1st,Terry,Bill
264,schalra01,1949,Run Off,187.0,NaN,17.0,N,Player,1st,Schalk,Ray
277,simmoal01,1949,Run Off,187.0,NaN,76.0,N,Player,1st,Simmons,Al

(6, 11)

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note,nameLast,nameFirst
221,wrighge01,1937,Centennial,NaN,NaN,NaN,Y,Pioneer/Executive,NaN,Wright,George
433,mackco01,1937,Centennial,NaN,NaN,NaN,Y,Manager,NaN,Mack,Connie
992,bulkemo99,1937,Centennial,NaN,NaN,NaN,Y,Pioneer/Executive,NaN,Bulkeley,Morgan
993,johnsba99,1937,Centennial,NaN,NaN,NaN,Y,Pioneer/Executive,NaN,Johnson,Ban
1124,cartwal99,1938,Centennial,NaN,NaN,NaN,Y,Pioneer/Executive,NaN,Cartwright,Alexander

(26, 11)

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note,nameLast,nameFirst
1881,paigesa01,1971,Negro League,NaN,NaN,NaN,Y,Player,NaN,Paige,Satchel
2665,gibsojo99,1972,Negro League,NaN,NaN,NaN,Y,Player,NaN,Gibson,Josh
2667,leonabu99,1972,Negro League,NaN,NaN,NaN,Y,Player,NaN,Leonard,Buck
2708,irvinmo01,1973,Negro League,NaN,NaN,NaN,Y,Player,NaN,Irvin,Monte
2765,bellco99,1974,Negro League,NaN,NaN,NaN,Y,Player,NaN,Bell,Cool Papa